*{margin: 0; padding: 0}

.total_div{width: 999px; margin: 0 auto; overflow: hidden;
           border: 1px solid red}

.header{overflow: hidden}

.left_all{width: 221px; float: left}
.left_all .left1{}
.left_all .left2{}
.left_all .left3{}

.con_all {float: right}
.con_all .contop{overflow: hidden}
.con_all .contop .con1{width: 365px; float: left}
.con_all .contop .con2{width: 408px; float: right}

.con_all .con_left{width: 365px; float: left}
.con_all .con_left .con_left1{}
.con_all .con_left .con_left2{}
.con_all .con_left .con_left3{}

.con_all .con_right{width: 408px; float: right}

.footer {clear: both; overflow: hidden}
.footer .footer1{width: 100px; float: left}
.footer .footer2{width: 894px; float: right}
