@import url('common.css');

.con_s1{width: 1140px; margin: 0 auto;}
.con_s1 h2{font-size: 3rem;
text-align: center;}
.con_s1 ul{overflow: hidden;}
.con_s1 ul li{float: left; width:32%; margin: 0 2% 30px 0;position: relative;overflow: hidden; font-size: 0;
padding: 5px; }
.con_s1 ul li:nth-of-type(3n){margin-right: 0;}
.con_s1 ul li img{width: 100%}
.con_s1 ul li span{position: absolute;
left: 0;bottom:-50px;
    width: 100%; ;background: rgba(0,0,0,0.6);
text-align: center;
line-height: 2;
opacity: 0;
transition: .5s;}
.con_s1 ul li:hover span{opacity: 1;bottom: 0;}

.con_s2{width: 1140px; margin: 100px auto;}
.con_s2 ul{display: flex;
flex-wrap:wrap;
justify-content: space-around;
align-content: space-around;
height: 1000px}
.con_s2 ul li{width: 32%; position: relative;}
.con_s2 ul li img{width: 100%;}
.con_s2 ul li span{position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
                   background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    }



.con_s3{width: 1000px;
   margin: 100px auto;}
.con_s3 ul{
    /*list-style-image: url(../img/ex01.gif);
    list-style-position: inside;*/}
.con_s3 ul li{border-bottom:1px dotted #000;
    line-height: 3;
    padding-left:30px; background:url(../img/ex01.gif)no-repeat;
    
    background-position: left center;
    background-image:url('');
    background-color: #000;
    background-attachment: fixed;
    background-size:가로,세로;
    
}
.con_s3 ul li:nth-last-of-type(even){background-color: #eee;}
    